<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Africademy API — Docs{% endblock %}</title>
        {{ encore_entry_link_tags('swagger') }}
    </head>
    <body>
        <div id="swagger-ui"></div>
        {{ encore_entry_script_tags('swagger') }}
    </body>
</html>
