openapi: 3.0.3
info:
    title: Africademy API
    description: Africademy backend API.
    version: 1.0.0
servers:
    - url: http://be-preview.codetrics.co.za/api/v1
security:
    - bearerAuth: []
paths:
    /auth/register:
        post:
            tags: [Auth]
            summary: Register a new user
            description: Creates a user and its profile. Returns no token — log in afterwards. Public endpoint.
            security: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [email, password, first_name, last_name]
                            properties:
                                email: { type: string, format: email, example: jane@example.com }
                                password: { type: string, format: password, minLength: 8, example: s3cretpass }
                                first_name: { type: string, example: Jane }
                                last_name: { type: string, example: Doe }
            responses:
                '201':
                    description: User created
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    user: { $ref: '#/components/schemas/User' }
                '400': { $ref: '#/components/responses/BadRequest' }
                '422': { $ref: '#/components/responses/ValidationError' }
                '429': { $ref: '#/components/responses/RateLimited' }
    /auth/login:
        post:
            tags: [Auth]
            summary: Authenticate and obtain tokens
            description: Returns a JWT access token and a refresh token. Public endpoint.
            security: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [email, password]
                            properties:
                                email: { type: string, format: email, example: jane@example.com }
                                password: { type: string, format: password, example: s3cretpass }
            responses:
                '200':
                    description: Authenticated
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    token: { type: string, description: JWT access token (TTL 1h) }
                                    refresh_token: { type: string, description: Refresh token (TTL 30d) }
                '401': { $ref: '#/components/responses/Unauthorized' }
    /auth/refresh:
        post:
            tags: [Auth]
            summary: Exchange a refresh token for a new access token
            security: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [refresh_token]
                            properties:
                                refresh_token: { type: string }
            responses:
                '200':
                    description: New tokens issued
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    token: { type: string }
                                    refresh_token: { type: string }
                '401': { $ref: '#/components/responses/Unauthorized' }
    /auth/verify-email/request:
        post:
            tags: [Auth]
            summary: Request an email-verification code
            description: Always returns 200 (does not reveal whether the email exists).
            security: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [email]
                            properties:
                                email: { type: string, format: email }
            responses:
                '200': { description: Code sent if the email exists }
                '429': { $ref: '#/components/responses/RateLimited' }
    /auth/verify-email:
        post:
            tags: [Auth]
            summary: Verify an email with a code
            security: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [email, code]
                            properties:
                                email: { type: string, format: email }
                                code: { type: string, example: '314832' }
            responses:
                '200': { description: Email verified }
                '422': { $ref: '#/components/responses/ValidationError' }
                '429': { $ref: '#/components/responses/RateLimited' }
    /auth/password/forgot:
        post:
            tags: [Auth]
            summary: Request a password-reset code
            description: Always returns 200 (does not reveal whether the email exists).
            security: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [email]
                            properties:
                                email: { type: string, format: email }
            responses:
                '200': { description: Code sent if the email exists }
                '429': { $ref: '#/components/responses/RateLimited' }
    /auth/password/reset:
        post:
            tags: [Auth]
            summary: Reset a password with a code
            security: []
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [email, code, password]
                            properties:
                                email: { type: string, format: email }
                                code: { type: string, example: '289430' }
                                password: { type: string, format: password, minLength: 8 }
            responses:
                '200': { description: Password updated }
                '422': { $ref: '#/components/responses/ValidationError' }
                '429': { $ref: '#/components/responses/RateLimited' }
    /profile:
        get:
            tags: [Profile]
            summary: Get the authenticated user's profile
            responses:
                '200':
                    description: The profile
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    profile: { $ref: '#/components/schemas/Profile' }
                '401': { $ref: '#/components/responses/Unauthorized' }
        patch:
            tags: [Profile]
            summary: Update the authenticated user's profile
            description: All fields optional; only provided fields are updated.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                first_name: { type: string }
                                last_name: { type: string }
                                bio: { type: string, nullable: true }
                                phone: { type: string, nullable: true }
                                locale: { type: string, example: en }
                                timezone: { type: string, example: Africa/Johannesburg }
            responses:
                '200':
                    description: Updated profile
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    profile: { $ref: '#/components/schemas/Profile' }
                '401': { $ref: '#/components/responses/Unauthorized' }
                '422': { $ref: '#/components/responses/ValidationError' }
    /profile/avatar:
        get:
            tags: [Profile]
            summary: Stream the authenticated user's avatar image
            responses:
                '200':
                    description: The avatar image
                    content:
                        image/*:
                            schema: { type: string, format: binary }
                '401': { $ref: '#/components/responses/Unauthorized' }
                '404': { $ref: '#/components/responses/NotFound' }
        post:
            tags: [Profile]
            summary: Upload or replace the avatar
            requestBody:
                required: true
                content:
                    multipart/form-data:
                        schema:
                            type: object
                            required: [avatar]
                            properties:
                                avatar:
                                    type: string
                                    format: binary
                                    description: JPEG, PNG or WebP, max 2 MB
            responses:
                '200':
                    description: Updated profile with new avatar URL
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    profile: { $ref: '#/components/schemas/Profile' }
                '401': { $ref: '#/components/responses/Unauthorized' }
                '422': { $ref: '#/components/responses/ValidationError' }
        delete:
            tags: [Profile]
            summary: Remove the avatar
            responses:
                '204': { description: Avatar removed }
                '401': { $ref: '#/components/responses/Unauthorized' }
                '404': { $ref: '#/components/responses/NotFound' }
    /categories:
        get:
            tags: [Catalog]
            summary: List course categories
            responses:
                '200':
                    description: Categories
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    categories:
                                        type: array
                                        items: { $ref: '#/components/schemas/Category' }
                '401': { $ref: '#/components/responses/Unauthorized' }
    /courses:
        get:
            tags: [Courses]
            summary: List courses (paginated)
            description: Returns published courses. Teachers also see their own drafts.
            parameters:
                - { name: page, in: query, schema: { type: integer, default: 1 } }
                - { name: limit, in: query, schema: { type: integer, default: 10 } }
                - { name: category, in: query, schema: { type: string }, description: Category slug }
                - { name: level, in: query, schema: { type: string, enum: [beginner, intermediate, advanced] } }
                - { name: q, in: query, schema: { type: string }, description: Title search }
            responses:
                '200':
                    description: Paginated courses
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    courses:
                                        type: array
                                        items: { $ref: '#/components/schemas/Course' }
                                    pagination: { $ref: '#/components/schemas/Pagination' }
                '401': { $ref: '#/components/responses/Unauthorized' }
        post:
            tags: [Courses]
            summary: Create a course (draft)
            description: Requires ROLE_TEACHER. The slug is generated from the title.
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [title, category_id]
                            properties:
                                title: { type: string }
                                category_id: { type: string, description: Category ULID }
                                description: { type: string, nullable: true }
                                tagline: { type: string, nullable: true }
                                level: { type: string, enum: [beginner, intermediate, advanced] }
                                price_amount_cents: { type: integer, example: 450000 }
                                price_currency: { type: string, example: ZAR }
                                tags: { type: array, items: { type: string } }
                                objectives: { type: array, items: { type: string } }
                                thumbnail: { type: string, nullable: true }
            responses:
                '201':
                    description: Created course
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    course: { $ref: '#/components/schemas/Course' }
                '401': { $ref: '#/components/responses/Unauthorized' }
                '403': { $ref: '#/components/responses/Forbidden' }
                '422': { $ref: '#/components/responses/ValidationError' }
    /courses/{id}:
        parameters:
            - { name: id, in: path, required: true, schema: { type: string }, description: Course ULID }
        get:
            tags: [Courses]
            summary: Get a course
            responses:
                '200':
                    description: The course
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    course: { $ref: '#/components/schemas/Course' }
                '401': { $ref: '#/components/responses/Unauthorized' }
                '404': { $ref: '#/components/responses/NotFound' }
        patch:
            tags: [Courses]
            summary: Update a course (owner only)
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                title: { type: string }
                                category_id: { type: string }
                                description: { type: string, nullable: true }
                                tagline: { type: string, nullable: true }
                                level: { type: string, enum: [beginner, intermediate, advanced] }
                                price_amount_cents: { type: integer }
                                price_currency: { type: string }
                                tags: { type: array, items: { type: string } }
                                objectives: { type: array, items: { type: string } }
                                thumbnail: { type: string, nullable: true }
            responses:
                '200':
                    description: Updated course
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    course: { $ref: '#/components/schemas/Course' }
                '403': { $ref: '#/components/responses/Forbidden' }
                '404': { $ref: '#/components/responses/NotFound' }
                '422': { $ref: '#/components/responses/ValidationError' }
        delete:
            tags: [Courses]
            summary: Delete a course (owner only)
            responses:
                '204': { description: Course deleted }
                '403': { $ref: '#/components/responses/Forbidden' }
                '404': { $ref: '#/components/responses/NotFound' }
    /courses/{id}/publish:
        post:
            tags: [Courses]
            summary: Publish a course (owner only)
            parameters:
                - { name: id, in: path, required: true, schema: { type: string }, description: Course ULID }
            responses:
                '200':
                    description: Published course
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    course: { $ref: '#/components/schemas/Course' }
                '403': { $ref: '#/components/responses/Forbidden' }
                '404': { $ref: '#/components/responses/NotFound' }
    /courses/{courseId}/lessons:
        parameters:
            - { name: courseId, in: path, required: true, schema: { type: string }, description: Course ULID }
        get:
            tags: [Lessons]
            summary: List a course's lessons
            description: Non-owners see published lessons only.
            responses:
                '200':
                    description: Lessons (ordered by position)
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    lessons:
                                        type: array
                                        items: { $ref: '#/components/schemas/Lesson' }
                '401': { $ref: '#/components/responses/Unauthorized' }
                '404': { $ref: '#/components/responses/NotFound' }
        post:
            tags: [Lessons]
            summary: Add a lesson (owner only)
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [title, type]
                            properties:
                                title: { type: string }
                                type: { type: string, enum: [video, doc] }
                                body: { type: string, nullable: true }
                                status: { type: string, enum: [draft, published] }
                                duration_minutes: { type: integer, nullable: true }
                                content_ref: { type: string, nullable: true }
            responses:
                '201':
                    description: Created lesson
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    lesson: { $ref: '#/components/schemas/Lesson' }
                '403': { $ref: '#/components/responses/Forbidden' }
                '404': { $ref: '#/components/responses/NotFound' }
                '422': { $ref: '#/components/responses/ValidationError' }
    /courses/{courseId}/lessons/{id}:
        parameters:
            - { name: courseId, in: path, required: true, schema: { type: string }, description: Course ULID }
            - { name: id, in: path, required: true, schema: { type: string }, description: Lesson ULID }
        get:
            tags: [Lessons]
            summary: Get a lesson
            responses:
                '200':
                    description: The lesson
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    lesson: { $ref: '#/components/schemas/Lesson' }
                '404': { $ref: '#/components/responses/NotFound' }
        patch:
            tags: [Lessons]
            summary: Update a lesson (owner only)
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                title: { type: string }
                                type: { type: string, enum: [video, doc] }
                                body: { type: string, nullable: true }
                                status: { type: string, enum: [draft, published] }
                                duration_minutes: { type: integer, nullable: true }
                                content_ref: { type: string, nullable: true }
                                position: { type: integer }
            responses:
                '200':
                    description: Updated lesson
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    lesson: { $ref: '#/components/schemas/Lesson' }
                '403': { $ref: '#/components/responses/Forbidden' }
                '404': { $ref: '#/components/responses/NotFound' }
                '422': { $ref: '#/components/responses/ValidationError' }
        delete:
            tags: [Lessons]
            summary: Delete a lesson (owner only)
            responses:
                '204': { description: Lesson deleted }
                '403': { $ref: '#/components/responses/Forbidden' }
                '404': { $ref: '#/components/responses/NotFound' }
    /courses/{id}/enroll:
        post:
            tags: [Enrollment]
            summary: Enroll the current student in a course
            description: Course must be published. Creates a pending (unpaid) enrollment.
            parameters:
                - { name: id, in: path, required: true, schema: { type: string }, description: Course ULID }
            responses:
                '201':
                    description: Created enrollment
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    enrollment: { $ref: '#/components/schemas/Enrollment' }
                '404': { $ref: '#/components/responses/NotFound' }
                '409': { $ref: '#/components/responses/Conflict' }
                '422': { $ref: '#/components/responses/ValidationError' }
    /enrollments:
        get:
            tags: [Enrollment]
            summary: List my enrollments (paginated)
            parameters:
                - { name: page, in: query, schema: { type: integer, default: 1 } }
                - { name: limit, in: query, schema: { type: integer, default: 10 } }
            responses:
                '200':
                    description: My enrollments
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    enrollments:
                                        type: array
                                        items: { $ref: '#/components/schemas/Enrollment' }
                                    pagination: { $ref: '#/components/schemas/Pagination' }
                '401': { $ref: '#/components/responses/Unauthorized' }
    /enrollments/{id}:
        parameters:
            - { name: id, in: path, required: true, schema: { type: string }, description: Enrollment ULID }
        get:
            tags: [Enrollment]
            summary: Get one of my enrollments (with progress)
            responses:
                '200':
                    description: The enrollment
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    enrollment: { $ref: '#/components/schemas/Enrollment' }
                '404': { $ref: '#/components/responses/NotFound' }
        delete:
            tags: [Enrollment]
            summary: Unenroll (deletes the enrollment and its progress)
            responses:
                '204': { description: Unenrolled }
                '404': { $ref: '#/components/responses/NotFound' }
    /courses/{id}/purchase:
        post:
            tags: [Orders]
            summary: Start a one-off purchase of a course
            description: Creates a pending order and returns the signed PayFast checkout fields to POST to PayFast. Course must be published and purchasable.
            parameters:
                - { name: id, in: path, required: true, schema: { type: string }, description: Course ULID }
            responses:
                '201':
                    description: Pending order + PayFast checkout
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    order: { $ref: '#/components/schemas/Order' }
                                    payfast:
                                        type: object
                                        properties:
                                            url: { type: string, description: PayFast process URL to POST the form to }
                                            fields: { type: object, additionalProperties: { type: string }, description: Signed form fields (incl. signature) }
                '403': { $ref: '#/components/responses/Forbidden' }
                '404': { $ref: '#/components/responses/NotFound' }
                '409': { $ref: '#/components/responses/Conflict' }
                '422': { $ref: '#/components/responses/ValidationError' }
    /orders:
        get:
            tags: [Orders]
            summary: List my orders (paginated)
            parameters:
                - { name: page, in: query, schema: { type: integer, default: 1 } }
                - { name: limit, in: query, schema: { type: integer, default: 10 } }
            responses:
                '200':
                    description: My orders
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    orders:
                                        type: array
                                        items: { $ref: '#/components/schemas/Order' }
                                    pagination: { $ref: '#/components/schemas/Pagination' }
                '401': { $ref: '#/components/responses/Unauthorized' }
    /orders/{id}:
        get:
            tags: [Orders]
            summary: Get one of my orders
            parameters:
                - { name: id, in: path, required: true, schema: { type: string }, description: Order ULID }
            responses:
                '200':
                    description: The order
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    order: { $ref: '#/components/schemas/Order' }
                '404': { $ref: '#/components/responses/NotFound' }
    /orders/{id}/refund-request:
        post:
            tags: [Orders]
            summary: Request a refund for a paid order (within 30 days)
            description: Creates a pending refund request. Admin approval and the actual PayFast refund happen later.
            parameters:
                - { name: id, in: path, required: true, schema: { type: string }, description: Order ULID }
            requestBody:
                content:
                    application/json:
                        schema:
                            type: object
                            properties:
                                reason: { type: string, nullable: true }
            responses:
                '201':
                    description: Pending refund request
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    refund_request: { $ref: '#/components/schemas/RefundRequest' }
                '404': { $ref: '#/components/responses/NotFound' }
                '409': { $ref: '#/components/responses/Conflict' }
                '422': { $ref: '#/components/responses/ValidationError' }
    /plans:
        get:
            tags: [Subscription]
            summary: List active subscription plans
            responses:
                '200':
                    description: Plans
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    plans:
                                        type: array
                                        items: { $ref: '#/components/schemas/SubscriptionPlan' }
                '401': { $ref: '#/components/responses/Unauthorized' }
    /payment-methods/setup:
        post:
            tags: [PaymentMethods]
            summary: Start adding a payment method (PayFast tokenization)
            description: Returns signed PayFast tokenization checkout fields. The token is captured via the ITN webhook.
            responses:
                '200':
                    description: PayFast tokenization checkout
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    payfast:
                                        type: object
                                        properties:
                                            url: { type: string }
                                            fields: { type: object, additionalProperties: { type: string } }
                '401': { $ref: '#/components/responses/Unauthorized' }
    /payment-methods:
        get:
            tags: [PaymentMethods]
            summary: List my active payment methods
            responses:
                '200':
                    description: Payment methods
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    payment_methods:
                                        type: array
                                        items: { $ref: '#/components/schemas/PaymentMethod' }
                '401': { $ref: '#/components/responses/Unauthorized' }
    /payment-methods/{id}/default:
        patch:
            tags: [PaymentMethods]
            summary: Set a payment method as default
            parameters:
                - { name: id, in: path, required: true, schema: { type: string }, description: Payment method ULID }
            responses:
                '200':
                    description: Updated payment method
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    payment_method: { $ref: '#/components/schemas/PaymentMethod' }
                '404': { $ref: '#/components/responses/NotFound' }
    /payment-methods/{id}:
        delete:
            tags: [PaymentMethods]
            summary: Remove a payment method
            parameters:
                - { name: id, in: path, required: true, schema: { type: string }, description: Payment method ULID }
            responses:
                '204': { description: Removed }
                '404': { $ref: '#/components/responses/NotFound' }
    /subscriptions:
        post:
            tags: [Subscription]
            summary: Subscribe to a plan (charges the chosen card now)
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            type: object
                            required: [plan_id, payment_method_id]
                            properties:
                                plan_id: { type: string, description: Plan ULID }
                                payment_method_id: { type: string, description: Payment method ULID }
            responses:
                '201':
                    description: Active subscription
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    subscription: { $ref: '#/components/schemas/Subscription' }
                '402': { $ref: '#/components/responses/Forbidden' }
                '409': { $ref: '#/components/responses/Conflict' }
                '422': { $ref: '#/components/responses/ValidationError' }
    /subscription:
        get:
            tags: [Subscription]
            summary: Get my current subscription
            responses:
                '200':
                    description: The subscription
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    subscription: { $ref: '#/components/schemas/Subscription' }
                '404': { $ref: '#/components/responses/NotFound' }
    /subscriptions/{id}/cancel:
        post:
            tags: [Subscription]
            summary: Cancel a subscription at period end
            parameters:
                - { name: id, in: path, required: true, schema: { type: string }, description: Subscription ULID }
            responses:
                '200':
                    description: Updated subscription
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    subscription: { $ref: '#/components/schemas/Subscription' }
                '404': { $ref: '#/components/responses/NotFound' }
    /courses/{courseId}/lessons/{id}/complete:
        parameters:
            - { name: courseId, in: path, required: true, schema: { type: string }, description: Course ULID }
            - { name: id, in: path, required: true, schema: { type: string }, description: Lesson ULID }
        post:
            tags: [Progress]
            summary: Mark a lesson complete
            description: Requires a paid enrollment. Any published lesson may be completed in any order.
            responses:
                '200':
                    description: Updated progress
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    progress: { $ref: '#/components/schemas/Progress' }
                '403': { $ref: '#/components/responses/Forbidden' }
                '404': { $ref: '#/components/responses/NotFound' }
                '422': { $ref: '#/components/responses/ValidationError' }
        delete:
            tags: [Progress]
            summary: Undo a lesson completion
            responses:
                '200':
                    description: Updated progress
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    progress: { $ref: '#/components/schemas/Progress' }
                '403': { $ref: '#/components/responses/Forbidden' }
                '404': { $ref: '#/components/responses/NotFound' }
    /courses/{id}/learn:
        get:
            tags: [Progress]
            summary: Learn view — ordered published lessons with per-student state
            description: Requires a paid enrollment.
            parameters:
                - { name: id, in: path, required: true, schema: { type: string }, description: Course ULID }
            responses:
                '200':
                    description: Lessons with state + overall progress
                    content:
                        application/json:
                            schema:
                                type: object
                                properties:
                                    progress: { $ref: '#/components/schemas/Progress' }
                                    lessons:
                                        type: array
                                        items: { $ref: '#/components/schemas/LearnLesson' }
                '403': { $ref: '#/components/responses/Forbidden' }
                '404': { $ref: '#/components/responses/NotFound' }
components:
    securitySchemes:
        bearerAuth:
            type: http
            scheme: bearer
            bearerFormat: JWT
    schemas:
        User:
            type: object
            properties:
                id: { type: string, description: ULID public identifier }
                email: { type: string, format: email }
                roles: { type: array, items: { type: string } }
                status: { type: string, enum: [active, suspended] }
                email_verified: { type: boolean }
                email_verified_at: { type: integer, nullable: true, description: 'Unix timestamp, or null' }
                profile: { $ref: '#/components/schemas/Profile' }
                created_at: { type: integer, description: Unix timestamp }
                updated_at: { type: integer, description: Unix timestamp }
        Profile:
            type: object
            properties:
                id: { type: string, description: ULID public identifier }
                first_name: { type: string }
                last_name: { type: string }
                display_name: { type: string, description: Computed from first and last name }
                avatar: { type: string, nullable: true, description: 'Absolute URL to the avatar stream endpoint, or null' }
                bio: { type: string, nullable: true }
                phone: { type: string, nullable: true }
                locale: { type: string, example: en }
                timezone: { type: string, example: Africa/Johannesburg }
                created_at: { type: integer, description: Unix timestamp }
                updated_at: { type: integer, description: Unix timestamp }
        Error:
            type: object
            properties:
                error: { type: string, example: validation_error }
                error_description: { type: string, example: Email cannot be blank. }
        Money:
            type: object
            properties:
                amount_cents: { type: integer, example: 450000 }
                currency: { type: string, example: ZAR }
        Category:
            type: object
            properties:
                id: { type: string, description: ULID public identifier }
                name: { type: string, example: Wealth }
                slug: { type: string, example: wealth }
                created_at: { type: integer, description: Unix timestamp }
                updated_at: { type: integer, description: Unix timestamp }
        Course:
            type: object
            properties:
                id: { type: string, description: ULID public identifier }
                title: { type: string }
                slug: { type: string, description: Generated from the title }
                tagline: { type: string, nullable: true }
                description: { type: string, nullable: true }
                status: { type: string, enum: [draft, published, archived] }
                level: { type: string, nullable: true, enum: [beginner, intermediate, advanced] }
                category: { $ref: '#/components/schemas/Category' }
                instructor:
                    type: object
                    description: Compact owner view (never exposes the owner's account)
                    properties:
                        id: { type: string }
                        name: { type: string }
                price: { $ref: '#/components/schemas/Money' }
                is_free: { type: boolean }
                is_purchasable: { type: boolean }
                included_in_subscription: { type: boolean }
                tags: { type: array, items: { type: string } }
                objectives: { type: array, items: { type: string } }
                thumbnail: { type: string, nullable: true }
                created_at: { type: integer, description: Unix timestamp }
                updated_at: { type: integer, description: Unix timestamp }
        Lesson:
            type: object
            properties:
                id: { type: string, description: ULID public identifier }
                course_id: { type: string, description: Parent course ULID }
                title: { type: string }
                body: { type: string, nullable: true }
                type: { type: string, enum: [video, doc] }
                status: { type: string, enum: [draft, published] }
                position: { type: integer }
                duration_minutes: { type: integer, nullable: true }
                content_ref: { type: string, nullable: true }
                created_at: { type: integer, description: Unix timestamp }
                updated_at: { type: integer, description: Unix timestamp }
        Pagination:
            type: object
            properties:
                current_page: { type: integer, example: 1 }
                items_per_page: { type: integer, example: 10 }
                total_items: { type: integer, example: 42 }
                total_pages: { type: integer, example: 5 }
        Progress:
            type: object
            properties:
                progress_percent: { type: integer, example: 50 }
                completed_count: { type: integer, example: 1 }
                total_count: { type: integer, description: Published lessons only, example: 2 }
                current_lesson_id: { type: string, nullable: true, description: 'First incomplete published lesson, or null if all done' }
                status: { type: string, enum: [in_progress, completed] }
        Enrollment:
            type: object
            properties:
                id: { type: string, description: ULID public identifier }
                course: { $ref: '#/components/schemas/Course' }
                status: { type: string, enum: [in_progress, completed] }
                completed_at: { type: integer, nullable: true, description: 'Unix timestamp, or null' }
                progress: { $ref: '#/components/schemas/Progress' }
                created_at: { type: integer, description: Unix timestamp (enrolled-at) }
                updated_at: { type: integer, description: Unix timestamp }
        LearnLesson:
            allOf:
                - { $ref: '#/components/schemas/Lesson' }
                - type: object
                  properties:
                      state: { type: string, enum: [done, current, upcoming] }
        Order:
            type: object
            properties:
                id: { type: string, description: ULID public identifier }
                course: { $ref: '#/components/schemas/Course' }
                amount: { $ref: '#/components/schemas/Money' }
                status: { type: string, enum: [pending, paid, cancelled, refunded] }
                paid_at: { type: integer, nullable: true, description: 'Unix timestamp, or null' }
                refunded_at: { type: integer, nullable: true, description: 'Unix timestamp, or null' }
                created_at: { type: integer, description: Unix timestamp }
                updated_at: { type: integer, description: Unix timestamp }
        RefundRequest:
            type: object
            properties:
                id: { type: string, description: ULID public identifier }
                order_id: { type: string, description: Order ULID }
                reason: { type: string, nullable: true }
                status: { type: string, enum: [pending, approved, rejected] }
                resolved_at: { type: integer, nullable: true, description: 'Unix timestamp, or null' }
                created_at: { type: integer, description: Unix timestamp }
                updated_at: { type: integer, description: Unix timestamp }
        SubscriptionPlan:
            type: object
            properties:
                id: { type: string, description: ULID public identifier }
                name: { type: string, example: Premium }
                slug: { type: string, example: premium-monthly }
                price: { $ref: '#/components/schemas/Money' }
                interval: { type: string, enum: [monthly, annual] }
                is_active: { type: boolean }
        PaymentMethod:
            type: object
            properties:
                id: { type: string, description: ULID public identifier }
                brand: { type: string, example: visa }
                last4: { type: string, example: '4242' }
                exp_month: { type: string, nullable: true, example: '12' }
                exp_year: { type: string, nullable: true, example: '2030' }
                is_default: { type: boolean }
                status: { type: string, enum: [active, deleted] }
                created_at: { type: integer, description: Unix timestamp }
                updated_at: { type: integer, description: Unix timestamp }
        Subscription:
            type: object
            properties:
                id: { type: string, description: ULID public identifier }
                plan: { $ref: '#/components/schemas/SubscriptionPlan' }
                payment_method: { $ref: '#/components/schemas/PaymentMethod' }
                status: { type: string, enum: [active, past_due, cancelled, expired] }
                current_period_start: { type: integer, description: Unix timestamp }
                current_period_end: { type: integer, description: Unix timestamp }
                cancel_at_period_end: { type: boolean }
                created_at: { type: integer, description: Unix timestamp }
                updated_at: { type: integer, description: Unix timestamp }
    responses:
        BadRequest:
            description: Malformed request or invalid JSON
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/Error' }
        Unauthorized:
            description: Missing or invalid credentials
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/Error' }
        Forbidden:
            description: Authenticated but not permitted (e.g. not the owner, or missing ROLE_TEACHER)
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/Error' }
        NotFound:
            description: Resource not found
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/Error' }
        Conflict:
            description: Conflicts with current state (e.g. already enrolled)
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/Error' }
        ValidationError:
            description: Validation failed
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/Error' }
        RateLimited:
            description: Too many requests
            content:
                application/json:
                    schema: { $ref: '#/components/schemas/Error' }
